.checkboxAlmacenada:disabled {
  background-color: #f2f2f2;
  color: #999;
}

.checkboxAlmacenada:disabled + label {
  color: #999;
}

.contenedorDetalle {
  max-width: 600px;
}

@media (max-width: 975px) {
  .contenedorMaquinaDetalle {
    flex-direction: column;
  }

  .contenedorDetalle {
    max-width: 100%;
  }
}
